
@mixin button-mock($btn-padding: 0em 1.2em) {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  padding: $btn-padding;
  border: 1px solid $color-theme;
  box-shadow: 0px 0px 1px 1px rgba($color-theme, 0.5);
  font-family: $font-sub;
  font-size: 1.5em;
  background-image:
  -webkit-linear-gradient(top left, #fff 5%, $color-theme);background-image:
  linear-gradient(to bottom right,
   #fff 5%, $color-theme
  );
}
