@mixin flexbox () {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
}
@mixin flexitem {
  -webkit-flex-grow: 1;
  -webkit-flex-shrink: 0;
  flex-grow: 1;
  flex-shrink: 0;
}
