
@mixin insert-svg($url, $size: 70%, $height-width: 0.5em) {
  content: "";
  display: inline-block;
  width: $height-width;
  height: $height-width;
  background: $url center center no-repeat;
  position: relative;
  background-size: $size;
}
