h1 {
  font-family: $font-header;
  font-size: 6em;
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;
  span {
    padding-left: 0.9em;
  }
}

.gradient {
  background-image:
    linear-gradient(
      $color-theme, $color-sub
    );
  background-attachment: fixed;
}

.textwrap {
  text-align: center;
  position: relative;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

