
.gradient {
  background-image:
    linear-gradient(to bottom right,
      $color-sub, $color-theme 15%, $color-sub
    );
  background-attachment: fixed;
}

.textwrap {
  text-align: center;
  position: relative;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

