.gradient {
  background-image:
    linear-gradient(to bottom right,
      $color-theme 35%, $color-sub
    );
  background-attachment: fixed;
}

.textwrap {
  text-align: center;
  position: relative;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.button-mock {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  padding: 0em 1.2em;
  border-radius: 10px;
  border: 1px solid;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: $font-sub;
  font-size: 1.5em;
  background-image:
  -webkit-linear-gradient(top left, #fff 5%, $color-theme);background-image:
  linear-gradient(to bottom right,
  #fff 5%, $color-theme
  );
}
