
.menu-container {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  h3 {
    font-family: $font-sub;
    font-size: 3em;
    padding-bottom: 1em;
  }
}

.menu-list {
  @include flexbox;
  list-style-type: none;
  li {
    margin: 0 1em 1em;
    font-size: 3em;
    border: 1px solid #000;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
    &:hover {
      color: #fff;
      border: 1px solid #fff;
    }
    a {
      text-decoration: none;
      position: absolute;
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
      line-height: 8em;
      top: 0;
      left: 0;
      border-radius: 50%;
    }
    span {
      position: absolute;
      width: 3em;
      transform-origin: bottom center;
      left: 2.5em;
      top: 0.6em;
    }
  }
}

.menu-listitem1 {
  @include circle-mock;
  @include rotated-text(7, 120deg, -70deg);
  > .icon-modern-mic:before {
    position: relative;
    top: 2em;
    font-size: 1.5em;
  }
  span {
    height: 3.6em;
  }
}

.menu-listitem2 {
  @include circle-mock;
  @include rotated-text(9, 140deg, -80deg);
  > .icon-file-music:before {
    position: relative;
    top: 2em;
    font-size: 1.5em;
  }
  span {
    height: 3.25em;
  }
}

.menu-listitem3 {
  @include circle-mock;
  @include rotated-text(10, 150deg, -83deg);
  > .icon-stack:before {
    position: relative;
    top: 2em;
    font-size: 1.5em;
  }
  span {
    height: 3.25em;
  }
}
.menu-listitem4 {
  @include circle-mock;
  @include rotated-text(10, 150deg, -83deg);
   > .icon-stack:before {
    position: relative;
    top: 2em;
    font-size: 1.5em;
  }
  span {
    height: 3.5em;
  }
}
