.queue {
  text-align: center;
  h2 {
    font-size: 2em;
    font-family: $font-header;
    padding-bottom: 1.5em;
  }
}

.queue_header-container {
  @include flexbox;
  padding-bottom: 2.5em;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  @media screen and (min-width: 50em) {
    padding-top: 2.5em;
  }
  button {
    cursor: pointer;
    padding: 0em 1.2em;
    border: 1px solid $color-theme;
    box-shadow: 0px 0px 1px 1px rgba($color-theme, 0.5);
    font-family: $font-sub;
    font-size: 1.6em;
    background-image:
    -webkit-linear-gradient(top left, #fff 5%, $color-theme);background-image:
    linear-gradient(to bottom right, #fff 5%, $color-theme);
  }
  .chicken:before {
    @include insert-svg(url("../images/Chicken.svg"), 100%, 1em);
    top: 0.3em;
    left: -0.3em;
  }
}

.queue-table {
  @extend .songbook;
}

.queue-container {
  text-align: center;
}

.update-btn {
  @include button-mock(0.3em 1.5em 0);
  height: 26px;
}
