
.login {
  text-align: center;
}

.login-form {
  margin: 0 auto;
  width: 40em;
  padding: 1em 4em 4em 4em;
  font-family: $font-sub;
  border: 1px solid $color-theme;

  box-shadow: 0px 0px 2px 2px rgba($color-theme, 0.5);
  legend {
    font-size: 3em;
    padding-bottom: 0.25em;
  }
  fieldset {
    font-size: 1.5em;
    label {
      padding-right: 1em;
      font-size: 1.5em;
      display: block;
      float: left;
      clear: both;
      width: 3em;
    }
  }
  button {
    margin-right: 0.5em;
    float: left;
    cursor: pointer;
    padding: 0em 1.2em;
    border: 1px solid $color-theme;
    box-shadow: 0px 0px 1px 1px rgba($color-sub, 0.5);
    font-family: $font-sub;
    font-size: 1.6em;
    background-image:
      -webkit-linear-gradient(top left, #fff 5%, $color-theme);background-image:
      linear-gradient(to bottom right,
       #fff 5%, $color-theme
    );
  }
  input {
    padding-left: 1.5em;
    margin-right: 6em;
  }
}
input:focus {
  border: 2px solid $color-shade;
}
.name-btn_wrapper {
  @include flexbox;
  margin-top: 1em;
}
.skip-btn {
  @include button-mock;
  height: 25px;
  padding-top: 0.3em;
  margin-left: 0.5em;
}
