.songbook-container {
  text-align: center;
  h2 {
    font: 2em $font-header;
  }
}

.songbook {
  font: 1.75em $font-sub;
  text-align: center;
  margin: 0 auto;
  width: 95%;
  margin-bottom: 2em;
  border: 1px solid $color-theme;
  box-shadow: 0px 0px 2px 2px rgba($color-theme, 0.5);
  @media screen and (min-width: 36em) {
    font-size: 2.5em;
  }
  thead {
    vertical-align: middle;
  }
  th {
    font-weight: bold;
    font-style: italic;
    padding: 0.5em;
    background-color: $color-table;
  }
  td {
    padding-top: 0.30em;
    padding-bottom: 0.30em;
  }
  tr {
    &:nth-child(odd) {
      background-color: $color-table-sub;
    }
    &:nth-child(even) {
      background-color: $color-table;
    }
  }
  a {
    text-decoration: none;
    color: $color-shade;
  }
}

button[name="enter-song"] {
  cursor: pointer;
  padding: 0em 1.2em;
  border: 1px solid $color-theme;
  box-shadow: 0px 0px 1px 1px rgba($color-theme, 0.5);
  font-family: $font-sub;
  font-size: 0.6em;
  background-image:
  -webkit-linear-gradient(top left, #fff 5%, $color-theme);background-image:
  linear-gradient(to bottom right,
   #fff 5%, $color-theme
  );
}

.menu-btn {
  @include button-mock;
}
