
<!-- menu2.html -->
      <h1 class="title">K<span class="title-svg">Vox</span></h1>
        <div class="menu-container">
          <h3>Choose One:</h3>
          <ul class="menu-list">
            <li class="menu-listitem2 textwrap" aria-label="view songs">
              <a href="#/kvox/songbook"></a>
              <span class="char1" aria="hidden">P</span>
              <span class="char2" aria="hidden">I</span>
              <span class="char3" aria="hidden">C</span>
              <span class="char4" aria="hidden">K</span>
              <span class="char5" aria="hidden">-</span>
              <span class="char6" aria="hidden">S</span>
              <span class="char7" aria="hidden">O</span>
              <span class="char8" aria="hidden">N</span>
              <span class="char9" aria="hidden">G</span>
              <span class="icon-file-music"></span>
            </li>
            <li class="menu-listitem4 textwrap" aria-label="get in queue">
              <a href="#/kvox/queue"></a>
              <span class="char1" aria="hidden"></span>
              <span class="char2" aria="hidden">Q</span>
              <span class="char3" aria="hidden">U</span>
              <span class="char4" aria="hidden">E</span>
              <span class="char5" aria="hidden">U</span>
              <span class="char6" aria="hidden">E</span>
              <span class="char7" aria="hidden"></span>
              <span class="char8" aria="hidden">U</span>
              <span class="char9" aria="hidden">P</span>
              <span class="char10" aria="hidden"></span>
              <span class="icon-stack"></span>
            </li>
          </ul>
        </div>
      <section id="loginBox" class="login">
        <form class="login-form" ng-submit="vm.setName()">
          <legend>Set Name</legend>
            <fieldset>
              <label for="username">Name:</label>
              <input type="text" name="username" id="username" ng-model="vm.user.nick" />
            </fieldset>
            <div class="name-btn_wrapper">
              <button type="submit">Set</button>
            </div>
        </form>
      </section>
