<!-- queue.html -->
<h1 class="title">K<span class="title-svg">Vox</span></h1>
<section class="queue">
  <h2 class="queue-head">Queue</h2>
  <div class="queue_header-container">
    <a href="#/kvox/songbook" class="update-btn">Update Song</a>
    <a href ng-disabled="socket.queued" ng-click="vm.queueUp()" class="update-btn">Get In Line</a>
    <button type="submit" name="delete" class="chicken" ng-click="vm.chickenOut()">Chicken Out</button>
  </div>
  <div class="queue-container">
  <table class="queue-table">
    <thead>
      <tr>
        <th>Queue</th>
        <th>Username</th>
        <th>Song Title</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="queue in vm.queue">
        <td>{{ $index }}</td>
        <td>{{queue.user.nick}}</td>
        <td>{{(queue.song ? queue.song.title : 'No Song Chosen')}}</td>
      </tr>
    </tbody>
  </table>
  <a href="#/kvox/menu" class="menu-btn">Back to Menu</a>
  </div>

</section>
