<!-- queue.html -->
<h1>K<span class="title-svg">Vox</span></h1>
<section>
  <div class="queue_header-container">
    <h2>Queue</h2>
    <button type="submit" name="update">Update Song</button>
    <button type="submit" name="delete" class="chicken" ng-click="vm.chickenOut()">Chicken Out</button>
  </div>
  <div class="queue-container">
  <table class="queue">
    <thead>
      <tr>
        <th>Queue</th>
        <th>Username</th>
        <th>Song Title</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in vm.users">
        <td>{{ $index }}</td>
        <td>{{vm.nick}}</td>
        <td>{{vm.song}}</td>
      </tr>
    </tbody>
  </table>
  <a href="#/kvox/menu" class="button-mock">Back to Menu</a>
  </div>

</section>
