<!-- queue.html -->
<section>
  <div class="queue_header-container">
    <h2>Queue</h2>
    <button type="submit" name="update">Update Song</button>
    <button type="submit" name="delete" class="chicken">Delete Song</button>
  </div>
  <div class="queue-container">
  <table class="queue">
    <thead>
      <tr>
        <th>Queue</th>
        <th>Username</th>
        <th>Song Title</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>001</td>
        <td>username1</td>
        <td>Yellow Submarine</td>
      </tr>
      <tr>
        <td>002</td>
        <td>username2</td>
        <td>(I Can't Get No) Satisfaction</td>
      </tr>
    </tbody>
  </table>
  <a href="#/kvox/menu" class="button-mock">Back to Menu</a>
  </div>

</section>
