<!-- signin-form.html -->
<h1 class="title">K<span class="title-svg">Vox</span></h1>
      <section id="loginBox" class="login">
        <form class="login-form" id="admin-form" ng-submit="vm.adminLogin()">
          <legend>Admin:</legend>
            <fieldset>
              <label for="username">Name:</label>
              <input type="text" name="admin-name" id="admin-name" ng-model="vm.admin.username"/>
              <label for="username">Passcode:</label>
              <input type="password" name="admin-pass" id="admin-pass" ng-model="vm.admin.basic.password" />
            </fieldset>
            <div class="name-btn_wrapper">
              <button type="submit" name="adminlogin">Login</button>
            </div>
        </form>
      </section>

