<!-- signin-form.html -->
      <section id="loginBox" class="login">
        <form action="" class="login-form">
          <legend>Admin Sign In</legend>
            <fieldset>
              <div>
                <label for="username">Name:</label>
                <input type="text" name="username" id="username" />
              </div>
              <div>
                <label for="passcode">Passcode:</label>
                <input type="password" name="passcode" id="passcode" />
              </div>
            </fieldset>
            <button type="submit" name="login">Login</button>
        </form>
      </section>
