
<!-- songbook.html -->
<h1 class="title">K<span class="title-svg">Vox</span></h1>
<div class="songbook-container">
<h2>Songbook</h2>
<table class="songbook">
  <thead>
    <tr>
      <th>Song #</th>
      <th>Artist</th>
      <th>Song Title</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <h3 ng-if="!vm.songs.length">No songs yet!</h3>
    <tr ng-repeat="song in vm.songs">
      <td>{{ $index + 1 }}</td>
      <td>{{song.author}}</td>
      <td>{{song.title}}</td>
      <td><button name="enter-song" ng-click="vm.enterSong(song)">Enter Song</button></td>
    </tr>
  </tbody>
</table>
<a href="#/kvox/menu" class="menu-btn">Back To Menu</a>
</div>
